In [33]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv("../../1_car_pricing.csv") # Data
df.head(5)

In [ ]:
mydf = df.sample(3000, random_state=3000) # Muestras a utilizar del total de datos
mydf

In [ ]:
# Reemplazo de datos NULL

mydf.isna().sum() # Verificacion de NULL

# Columnas categoricas
categorical_cols = mydf.select_dtypes(include='object').columns 
for col in categorical_cols:
    mydf[col].fillna(mydf[col].mode()[0], inplace=True) # Datos NULL de la columnas reemplazados por la moda

# Columnas numéricas
num_cols = mydf.select_dtypes(include='number').columns 
mydf[num_cols] = mydf[num_cols].fillna(mydf[num_cols].median()) # Datos NULL de la columnas reemplazados por la mediana

In [62]:
# Limpieza de Marcas, Año y Precio

mydf = mydf[
    (mydf['yearOfRegistration'] >= 1955) &
    (mydf['yearOfRegistration'] <= 2019)
] # Años con outliners en años inexistentes o erroneos

mydf = mydf[
    (mydf['price'] >= 500) &
    (mydf['price'] <= 200000)
] # Precios con un reango más chico por outliners

top_brands = mydf['brand'].value_counts().head(10).index
mydf = mydf[mydf['brand'].isin(top_brands)] # Limpiar las 10 primeras marcas

# Comprobación
print("Año de registro:")
print("Min:", mydf['yearOfRegistration'].min())
print("Max:", mydf['yearOfRegistration'].max())

print("\nPrecio:")
print("Min:", mydf['price'].min())
print("Max:", mydf['price'].max())

print("\nMarcas:")
print(mydf['brand'].value_counts())

Año de registro:
Min: 1960
Max: 2018

Precio:
Min: 500
Max: 99900

Marcas:
brand
volkswagen       556
bmw              296
opel             294
mercedes_benz    267
audi             254
ford             158
renault          138
peugeot           75
seat              55
fiat              54
Name: count, dtype: int64

In [63]:
mydf.to_csv("../../my-data-1_car_pricing.csv")