In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../data/original_1_car_pricing.csv") # Data original
df

,index,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,...,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,0,2016-03-24 11:52:17,Golf_3_1.6,privat,Angebot,480,test,NaN,1993,manuell,...,golf,150000,0,benzin,volkswagen,NaN,2016-03-24 00:00:00,0,70435,2016-04-07 03:16:57
1,1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,...,NaN,125000,5,diesel,audi,ja,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50
2,2,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,...,grand,125000,8,diesel,jeep,NaN,2016-03-14 00:00:00,0,90480,2016-04-05 12:47:46
3,3,2016-03-17 16:54:04,GOLF_4_1_4__3TÜRER,privat,Angebot,1500,test,kleinwagen,2001,manuell,...,golf,150000,6,benzin,volkswagen,nein,2016-03-17 00:00:00,0,91074,2016-03-17 17:40:17
4,4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,...,fabia,90000,7,diesel,skoda,nein,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371523,371523,2016-03-14 17:48:27,Suche_t4___vito_ab_6_sitze,privat,Angebot,2200,test,NaN,2005,NaN,...,NaN,20000,1,NaN,sonstige_autos,NaN,2016-03-14 00:00:00,0,39576,2016-04-06 00:46:52
371524,371524,2016-03-05 19:56:21,Smart_smart_leistungssteigerung_100ps,privat,Angebot,1199,test,cabrio,2000,automatik,...,fortwo,125000,3,benzin,smart,nein,2016-03-05 00:00:00,0,26135,2016-03-11 18:17:12
371525,371525,2016-03-19 18:57:12,Volkswagen_Multivan_T4_TDI_7DC_UY2,privat,Angebot,9200,test,bus,1996,manuell,...,transporter,150000,3,diesel,volkswagen,nein,2016-03-19 00:00:00,0,87439,2016-04-07 07:15:26
371526,371526,2016-03-20 19:41:08,VW_Golf_Kombi_1_9l_TDI,privat,Angebot,3400,test,kombi,2002,manuell,...,golf,150000,6,diesel,volkswagen,NaN,2016-03-20 00:00:00,0,40764,2016-03-24 12:45:21
371527,371527,2016-03-07 19:39:19,BMW_M135i_vollausgestattet_NP_52.720____Euro,privat,Angebot,28990,control,limousine,2013,manuell,...,m_reihe,50000,8,benzin,bmw,nein,2016-03-07 00:00:00,0,73326,2016-03-22 03:17:10

In [3]:
mydf = df.sample(50000, random_state=50000) # Muestras a utilizar del total de datos
mydf

,index,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,...,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
293842,293842,2016-03-05 19:53:12,Sitzfelle_fuer_Audi_80_Massanfertigung_guter_Z...,privat,Angebot,70,test,NaN,2000,NaN,...,80,5000,0,NaN,audi,NaN,2016-03-05 00:00:00,0,92348,2016-03-21 01:45:55
361177,361177,2016-03-18 12:39:34,Fahrzeug_eines_Rentners_zu_verkaufen,privat,Angebot,1900,control,kleinwagen,2003,manuell,...,matiz,70000,3,benzin,daewoo,NaN,2016-03-18 00:00:00,0,4928,2016-03-23 17:50:02
242140,242140,2016-04-01 02:36:20,Volkswagen_Golf_1.6_TDI_DPF_BlueMotion,privat,Angebot,6000,control,limousine,2010,manuell,...,golf,150000,7,diesel,volkswagen,nein,2016-04-01 00:00:00,0,10117,2016-04-01 08:39:30
215718,215718,2016-03-07 03:36:21,MINI_CLUBMAN_COOPER_D,privat,Angebot,10499,test,kombi,2008,automatik,...,clubman,100000,6,diesel,mini,nein,2016-03-07 00:00:00,0,82152,2016-03-21 01:15:19
350134,350134,2016-03-20 13:44:40,Smart_smart_fortwo_cdi_coupe_softouch_pulse_dpf,privat,Angebot,5500,test,kleinwagen,2010,automatik,...,fortwo,125000,3,diesel,smart,nein,2016-03-20 00:00:00,0,67360,2016-04-06 14:46:29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239424,239424,2016-03-18 22:36:32,Volkswagen_Golf_1_9_TDI_Highline,privat,Angebot,2500,test,limousine,1998,manuell,...,golf,150000,7,diesel,volkswagen,nein,2016-03-18 00:00:00,0,84076,2016-03-25 06:44:47
262914,262914,2016-03-28 20:57:46,Renault_Megane_1.6_16V_107_PS,privat,Angebot,650,control,limousine,2000,manuell,...,megane,150000,6,benzin,renault,NaN,2016-03-28 00:00:00,0,96224,2016-04-07 04:16:16
240512,240512,2016-03-17 14:53:15,Golf_4_EURO4_Klima,privat,Angebot,1399,control,limousine,2002,manuell,...,golf,150000,9,benzin,volkswagen,NaN,2016-03-17 00:00:00,0,13437,2016-03-17 15:44:44
99472,99472,2016-03-05 17:37:54,Kia_Venga_1.4_CRDi_90,privat,Angebot,7450,test,bus,2011,manuell,...,andere,90000,8,diesel,kia,nein,2016-03-05 00:00:00,0,45739,2016-04-07 03:45:13
341942,341942,2016-03-16 21:46:00,Ford_Transit_3.5T_3.2,privat,Angebot,6500,control,bus,2009,manuell,...,transit,150000,0,diesel,ford,NaN,2016-03-16 00:00:00,0,53773,2016-04-07 09:17:41

In [4]:
mydf.reset_index(drop=True, inplace=True) 
mydf.to_csv("../data/1_preprocessing_1_car_pricing.csv")
mydf

,index,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,...,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,293842,2016-03-05 19:53:12,Sitzfelle_fuer_Audi_80_Massanfertigung_guter_Z...,privat,Angebot,70,test,NaN,2000,NaN,...,80,5000,0,NaN,audi,NaN,2016-03-05 00:00:00,0,92348,2016-03-21 01:45:55
1,361177,2016-03-18 12:39:34,Fahrzeug_eines_Rentners_zu_verkaufen,privat,Angebot,1900,control,kleinwagen,2003,manuell,...,matiz,70000,3,benzin,daewoo,NaN,2016-03-18 00:00:00,0,4928,2016-03-23 17:50:02
2,242140,2016-04-01 02:36:20,Volkswagen_Golf_1.6_TDI_DPF_BlueMotion,privat,Angebot,6000,control,limousine,2010,manuell,...,golf,150000,7,diesel,volkswagen,nein,2016-04-01 00:00:00,0,10117,2016-04-01 08:39:30
3,215718,2016-03-07 03:36:21,MINI_CLUBMAN_COOPER_D,privat,Angebot,10499,test,kombi,2008,automatik,...,clubman,100000,6,diesel,mini,nein,2016-03-07 00:00:00,0,82152,2016-03-21 01:15:19
4,350134,2016-03-20 13:44:40,Smart_smart_fortwo_cdi_coupe_softouch_pulse_dpf,privat,Angebot,5500,test,kleinwagen,2010,automatik,...,fortwo,125000,3,diesel,smart,nein,2016-03-20 00:00:00,0,67360,2016-04-06 14:46:29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,239424,2016-03-18 22:36:32,Volkswagen_Golf_1_9_TDI_Highline,privat,Angebot,2500,test,limousine,1998,manuell,...,golf,150000,7,diesel,volkswagen,nein,2016-03-18 00:00:00,0,84076,2016-03-25 06:44:47
49996,262914,2016-03-28 20:57:46,Renault_Megane_1.6_16V_107_PS,privat,Angebot,650,control,limousine,2000,manuell,...,megane,150000,6,benzin,renault,NaN,2016-03-28 00:00:00,0,96224,2016-04-07 04:16:16
49997,240512,2016-03-17 14:53:15,Golf_4_EURO4_Klima,privat,Angebot,1399,control,limousine,2002,manuell,...,golf,150000,9,benzin,volkswagen,NaN,2016-03-17 00:00:00,0,13437,2016-03-17 15:44:44
49998,99472,2016-03-05 17:37:54,Kia_Venga_1.4_CRDi_90,privat,Angebot,7450,test,bus,2011,manuell,...,andere,90000,8,diesel,kia,nein,2016-03-05 00:00:00,0,45739,2016-04-07 03:45:13
49999,341942,2016-03-16 21:46:00,Ford_Transit_3.5T_3.2,privat,Angebot,6500,control,bus,2009,manuell,...,transit,150000,0,diesel,ford,NaN,2016-03-16 00:00:00,0,53773,2016-04-07 09:17:41