In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("../data/1_preprocessing_1_car_pricing.csv")
df

In [30]:
df.head(5)

,index,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,...,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,293842,2016-03-05 19:53:12,Sitzfelle_fuer_Audi_80_Massanfertigung_guter_Z...,privat,Angebot,6315.361749,test,limousine,2000.0,manuell,...,80,5000,0,benzin,audi,nein,2016-03-05 00:00:00,0,92348,2016-03-21 01:45:55
1,361177,2016-03-18 12:39:34,Fahrzeug_eines_Rentners_zu_verkaufen,privat,Angebot,1900.000000,control,kleinwagen,2003.0,manuell,...,matiz,70000,3,benzin,Other,nein,2016-03-18 00:00:00,0,4928,2016-03-23 17:50:02
2,242140,2016-04-01 02:36:20,Volkswagen_Golf_1.6_TDI_DPF_BlueMotion,privat,Angebot,6000.000000,control,limousine,2010.0,manuell,...,golf,150000,7,diesel,volkswagen,nein,2016-04-01 00:00:00,0,10117,2016-04-01 08:39:30
3,215718,2016-03-07 03:36:21,MINI_CLUBMAN_COOPER_D,privat,Angebot,10499.000000,test,kombi,2008.0,automatik,...,clubman,100000,6,diesel,Other,nein,2016-03-07 00:00:00,0,82152,2016-03-21 01:15:19
4,350134,2016-03-20 13:44:40,Smart_smart_fortwo_cdi_coupe_softouch_pulse_dpf,privat,Angebot,5500.000000,test,kleinwagen,2010.0,automatik,...,fortwo,125000,3,diesel,Other,nein,2016-03-20 00:00:00,0,67360,2016-04-06 14:46:29

In [ ]:
df.reset_index(drop=True, inplace=True)
df.to_csv("../data/2_discovery_1_car_pricing.csv", index=False)